.cabeçalho {
    display: flex;
    background-color: rgb(73, 29, 71);
}
.cabeçalho-título1{
    color: rgb(214, 113, 218);
}
.cabeçalho-título2 {
    color: rgb(158, 46, 124);
}


.cabeçalho-lista{
    color: white;
}
.cabeçalho-imagem{
    width: 120px;